<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Resolution>
      <version>0.1.0</version>
    </Neo_Resolution>
  </modules>
  <global>
    <helpers>
      <resolution>
        <class>Neo_Resolution_Helper</class>
      </resolution>
    </helpers>
	<blocks>
	  <resolution>
		<class>Neo_Resolution_Block</class>
	  </resolution>
	</blocks>
	<models>
	  <resolution>
		<class>Neo_Resolution_Model</class>
		<resourceModel>resolution_mysql4</resourceModel>
	  </resolution>
	  <resolution_mysql4>
		<class>Neo_Resolution_Model_Mysql4</class>
		<entities>		  
			  <resolution>
				<table>neo_resolution</table>
			  </resolution>
        </entities>
	  </resolution_mysql4>
	</models>
	<resources>
	  <resolution_setup>
		<setup>
		  <module>Neo_Resolution</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </resolution_setup>
	  <resolution_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </resolution_write>
	  <resolution_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </resolution_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <resolution>
	    <use>admin</use>
		<args>
		  <module>Neo_Resolution</module>
		  <frontName>resolution</frontName>
		</args>
	  </resolution>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <resolution module="resolution">
		<title>Resolution</title>
		<sort_order>100</sort_order>
		<children>
		  <resolution module="resolution">
		    <title>Manage Resolution</title>
			<sort_order>0</sort_order>
			<action>resolution/adminhtml_resolution</action>
		  </resolution>
		</children>
	  </resolution>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<resolution translate="title" module="resolution">
			  <title>Resolution</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <resolution translate="title">
			<title>Manage Resolution</title>
			<sort_order>0</sort_order>
		  </resolution>
			  </children>
			</resolution>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<resolution>
		  <file>resolution.xml</file>
		</resolution>
	  </updates>
	</layout>
  </adminhtml>
</config> 