<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_PinPayments>
            <version>0.0.1</version>
        </ProxiBlue_PinPayments>
    </modules>
    <global>
        <blocks>
            <pinpayments>
                <class>ProxiBlue_PinPayments_Block</class>
            </pinpayments>
        </blocks>
        <models>
            <pinpayments>
                <class>ProxiBlue_PinPayments_Model</class>
            </pinpayments>
        </models>
        <helpers>
            <pinpayments>
                <class>ProxiBlue_PinPayments_Helper</class>
            </pinpayments>
        </helpers>
        <resources>
            <proxiblue_pinpayments_setup>
                <setup>
                    <module>ProxiBlue_PinPayments</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </proxiblue_pinpayments_setup>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <pinpayments>/pinpayments</pinpayments>
        </secure_url>
        <translate>
            <modules>
                <ProxiBlue_PinPayments>
                    <files>
                        <default>ProxiBlue_Pinpayments.csv</default>
                    </files>
                </ProxiBlue_PinPayments>
            </modules>
        </translate>
        <layout>
            <updates>
                <pinpayments>
                    <file>pinpayments.xml</file>
                </pinpayments>
            </updates>
        </layout>
        <routers>
            <pinpayments>
                <use>standard</use>
                <args>
                    <module>ProxiBlue_PinPayments</module>
                    <frontName>pinpayments</frontName>
                </args>
            </pinpayments>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ProxiBlue_PinPayments>
                    <files>
                        <default>ProxiBlue_PinPayments.csv</default>
                    </files>
                </ProxiBlue_PinPayments>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <pinpayments>
                <active>1</active>
                <title>Pin Payments AU</title>
                <payment_action>authorize_capture</payment_action>
                <model>pinpayments/gateway</model>
                <order_status>pending</order_status>
                <pending_status>pending_payment</pending_status>
                <review_status>payment_review</review_status>
                <processing_status>processing</processing_status>
                <cctypes>AE,VI,MC,DICL,JCB</cctypes>
                <allowspecific>0</allowspecific>
                <test_gateway>1</test_gateway>
            </pinpayments>
        </payment>
    </default>
</config>
