<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Orderprocess>
      <version>0.1.0</version>
    </Neo_Orderprocess>
  </modules>
  <frontend>
    <routers>
      <orderprocess>
        <use>standard</use>
          <args>
            <module>Neo_Orderprocess</module>
            <frontName>orderprocess</frontName>
          </args>
      </orderprocess>
    </routers>
		<layout>
		  <updates>
			<orderprocess>
			  <file>orderprocess.xml</file>
			</orderprocess>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <orderprocess>
        <class>Neo_Orderprocess_Helper</class>
      </orderprocess>
    </helpers>
	<blocks>
	  <orderprocess>
		<class>Neo_Orderprocess_Block</class>
	  </orderprocess>
	</blocks>
	<models>
            <orderprocess>
                <class>Neo_Orderprocess_Model</class>                
            </orderprocess>
        </models>
	<events>
	 <checkout_cart_product_add_after>
	    <observers>
		<Neo_Orderprocess_Observer>
			<type>singleton</type>
			<class>Neo_Orderprocess_Model_Observer</class>
			<method>setCustomPrice</method>
		</Neo_Orderprocess_Observer>
		</observers>
	 </checkout_cart_product_add_after>  
	</events>
  </global>
</config> 
