<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Customprice>
      <version>0.1.0</version>
    </Neo_Customprice>
  </modules>
  <global>
    <helpers>
      <customprice>
        <class>Neo_Customprice_Helper</class>
      </customprice>
    </helpers>
	<blocks>
	  <customprice>
		<class>Neo_Customprice_Block</class>
	  </customprice>
	</blocks>
	<models>
	  <customprice>
		<class>Neo_Customprice_Model</class>
		<resourceModel>customprice_mysql4</resourceModel>
	  </customprice>
	  <customprice_mysql4>
		<class>Neo_Customprice_Model_Mysql4</class>
		<entities>		  
			  <customprice>
				<table>neo_custom_price</table>
			  </customprice>
        </entities>
	  </customprice_mysql4>
	</models>
	<resources>
	  <customprice_setup>
		<setup>
		  <module>Neo_Customprice</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customprice_setup>
	  <customprice_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customprice_write>
	  <customprice_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customprice_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <customprice>
	    <use>admin</use>
		<args>
		  <module>Neo_Customprice</module>
		  <frontName>customprice</frontName>
		</args>
	  </customprice>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <customprice module="customprice">
		<title>Customprice</title>
		<sort_order>100</sort_order>
		<children>
		  <customprice module="customprice">
		    <title>Manage Customprice</title>
			<sort_order>0</sort_order>
			<action>customprice/adminhtml_customprice</action>
		  </customprice>
		</children>
	  </customprice>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<customprice translate="title" module="customprice">
			  <title>Customprice</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customprice translate="title">
			<title>Manage Customprice</title>
			<sort_order>0</sort_order>
		  </customprice>
			  </children>
			</customprice>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<customprice>
		  <file>customprice.xml</file>
		</customprice>
	  </updates>
	</layout>
  </adminhtml>
</config> 