<?xml version="1.0"?>
<config>
  <modules>
    <Neo_Blocks>
      <version>0.1.0</version>
    </Neo_Blocks>
  </modules>
  <frontend>
    <routers>
      <blocks>
        <use>standard</use>
          <args>
            <module>Neo_Blocks</module>
            <frontName>blocks</frontName>
          </args>
      </blocks>
    </routers>
		<layout>
		  <updates>
			<blocks>
			  <file>blocks.xml</file>
			</blocks>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <blocks>
        <class>Neo_Blocks_Helper</class>
      </blocks>
    </helpers>
	<blocks>
	  <blocks>
		<class>Neo_Blocks_Block</class>
	  </blocks>
	</blocks>
  </global>
</config> 